MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=change-me
MONGO_DB=discordbot

DISCORD_TOKEN=your-discord-token
DISCORD_ADMIN_ID=245281978054737920
DISCORD_ADMIN_USERNAME=admin

PORTAINER_VIRTUAL_HOST=default-value
PORTAINER_TOKEN=your-portainer-token
